{
	"tabWidth": 4,
	"semi": true,
	"useTabs": true,
	"printWidth": 100,
	"endOfLine": "auto",
	"singleQuote": true,
	"trailingComma": "none",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
